html, body {
	background-color: #E3E4E8;
	margin:0;
	font-size: 16px;
	color: #211F1F;
	font-family: Helvetica, Arial, sans-serif;
}

ul{

	margin:0;

}

h1 {
	float: right;
	margin: center;
	font-size: 16px;
	color: #333;
	
}

h2 {
	float:right;
	font-size:12px;
	color: #666;
	padding: 0px 50px;
}
h3 {
 	padding: 0 0 0 310px;
	

}

.header {

	width: 1600px;
	height:70px;
	background-color: #2A2B2B;
}

.logo {
	float: left;
	margin-right: 20px;

}
.menu li {
	display:inline-block;
	height: 70px;
	line-height: 70px;
	padding: 0px 5px;
	color: #FFFFFF;
}
.menu a {
	background:#373B40;
	text-decoration: none;
	color: #fff;
	text-align: center;

}
.menu a:hover {
	background:#373B40;
	text-decoration: none;
	color: #35373B;
	padding: 3px 1px;
}

.main-left {
	float: left;
	width:674px;
	margin: 0 24px 0 0;
	

}

.main-right{

	float: right;
	width:220px;
	margin: 0 0 0 0;
	
}

.main-left, .main-right{
	height:653px;
	padding:20px;
	box-shadow:0 1px 1px rgba(0,0,0,0.15);
	background-color:rgba(255, 255, 255, 0.8);
}
.xray {
	float:left;
	width:350px;
	height: 300px;
	padding: 25px 20px;
	position: relative;

}
.imgtech {
	width: 57px;
	height:57px;
	padding: 0px 20px;
	display:inline-block;
}

.sprite-social {
	display: block;
	text-indent:40px; 
	width:32px;
	height: 32px;
	margin-right: 250px;
	margin-top:10px;
	background-image: url(../images/social-sprite.png);

}
.sprite-social.facebook { background-position: 0 0; }
.sprite-social.twitter  { background-position: -32px 0; }
.sprite-social.linkedin { background-position: 0 -32px; }
.sprite-social.google   { background-position: -32px -64px; }

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.main {
	width: 1000px;
	margin:	20px auto;

}

.social-nav {
	float: right;
	

}

.main-courses {

	width: 1000px;
	height: 660px;
	background-color: #fff;
}





